<li>
  <%= link_to user.name, [:admin, user] %>
  <%= user.role %>
  <%= link_to t("edit"), edit_admin_user_path(user), class: "btn btn-primary" %>
  <%= link_to t("delete"), [:admin, user], method: :delete,
    data: {confirm: t("confirm_question")}, class: "btn btn-primary" %>
</li>
