<% provide title: @examination.category %>
<div class="row">
  <div class="col-md-8">    
    <h3><%= @examination.category.name %></h3>
    <% if @examination.uncheck? %>
      <%= render "check" if current_user.admin? || current_user.mod? %>
      <%= render "uncheck" if current_user.normal? %>
    <% else %>
      <%= render "#{@examination.status}" %>
    <% end %>
  </div>
</div>
